#root {
  
  margin: 0 auto;
  padding: 2rem;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



#divmain
   {
    background-color: rgb(223, 230, 247);
    border-bottom-left-radius: 30px 20px;
    border-bottom-right-radius: 30px 20px;

    border-style: solid outset  outset  outset;
    border-color: rgb(56, 54, 63);

    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 90px;
    padding-left: 20px;
   }

   .centrado {
    text-align: center;
  }
  .derecha {
    text-align: right;
  }
  .vertical {
    writing-mode: vertical-rl;
    height: 150px; /* Altura necesaria para ver el efecto vertical */
  }